caption {
  caption-side: top;
  width:100%;
}

.table {

margin: 10px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.bg {
  background-image: url('../images/login_bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}