@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body { background: #76b852;
height: 100%;
}

.login-bg {
  background: url("../Nav/images/login_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page {
  
  padding: 8%  ;
  
}
.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 175px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  max-width: 170px;
  border: 1px solid #333;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: #43A047;
}
.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-form .register-form {
  display: none;
}

body, html {
  height: 100%; margin: 0;

}

